
*{margin: 0; padding: 0;}

body{
	font-size: 16px;
}

.mybg{
	background: #f8f9fa !important;
	margin: 10px 0;
}
.mybg2{
	background: orange;
}
.myrow{
	height: 100px;
	border: 1px solid #55f;
	
}
.myborder{
	border: 1px solid #dee2e6 !important;
	padding: 10px;
}

.mt-23{margin-top: 23px;}
.mt-flex{margin-top: 100px;}

.size200{
	width: 100px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}

