@import url('./basic.css');
.loginview {
    margin: auto;
    width: 500px; /* do rong*/
    border: 0px solid #aaa;
    background: #eee;
    box-shadow: 5px 5px 10px #666;
    border-radius: 10px;
    overflow: hidden;
}


table td:first-child {
    text-align: center;
}
th {
    background: #555;
    color: #fff;
    font-weight: 600;
}
.loginview form{

}
.loginview input:focus,button {
    border: 1px solid #88f;
    border-radius: 0 0 10px rgba(0,0,0,0.5);
}
.loginview input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}
.loginview .lc {
    text-align: right;
    font-weight: 700;
}
.loginview .btnLogin {
    background: #aaa;
    cursor: pointer;
}